* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.title {
  color: black;
}

.container {
  display: flex;
  flex-flow: column;
  margin-top: 40px;
  margin-left: 40px;
  width: 100%;
}

.expenesViewContainer {
  display: flex;
  justify-content: center;
}

.box {
  width: 180px;
  margin: 0 50px;
  text-align: center;
  padding: 15px;
  margin-top: 25px;
  font-weight: 500;
}

.box-1 {
  color: black;
  background-color: #dcdcdc;
height: 80px;
  margin: 0px;
  margin-top: 30px
}

.box-2 {
  color: #018749;
  background-color: #90ee90;
}

.box-3 {
  color: #0000ff;
  background-color: #89cff0;
}

.searchBarContainer {
  display: flex;
  width: 800px;
  margin-top: 30px;
  flex-direction: column;
 
}

.search{
  margin: 15px 0;
}


.searchBarTxtBox{

  width: 100%;

}

.list {
  display: flex;
  justify-content: center;
  border:2px solid gray;
  width: 1000px ;
  margin:0px auto;
  margin-top: 100px;
  text-align: center;
  padding: 20px;

  
}
.list-container {
  overflow: scroll;
}

.name-title{
  text-transform: capitalize;
}

.cost-title{
  background-color: blue;
  color:white;
  border: 2px solid blue;
  border-radius:20%;
  width: 8%;
}
.addItem-container{
  display: flex;
  justify-content: space-evenly;
}

.m-right{
margin-right: 50px;
}

.negative{
  color: #C41E3A;
  background-color: #90ee90;
}
